<html>
	<head>
		<meta name="author" content="Ashish Anand" />
		<meta name="email" content="ashishthedev@gmail.com" />
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Elevation as Service</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h2>Status:</h2>
			<pre>    Elevation Service Running</pre>
			<h2>Usage:</h2>
			<pre>
    http://elevation.adaptinfrastructure.com/elevation/lat/-12.659170573364879/lng/132.255024546978</pre
			>
			<h2>How to add more GIS data on server:</h2>
			<h4>Step 1:</h4>
			<pre>
    cd zippedAdfFiles
    wget https://s3-ap-southeast-2.amazonaws.com/crcsi.ga.gov.au/5m-dem/NSW5mDEM.zip</pre
			>
			<h4>Step 2:</h4>
			<pre>
    cd unzippedAdfFiles
    mkdir NSW5mDEM
    cd NSW5mDEM
    7za e ../../zippedAdfFiles/NSW5mDEM.zip
    sudo restart elevation</pre
			>
		</div>
	</body>
</html>
